# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/*pyc
*.py[cod]
*.pyc
.pytest_cache

# C extensions
*.so

# Distribution / packaging
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
htmlcov

# environment
.env
.vscode
.conda
